<h1>Men's Online Boutique</h1>
<h2>Shop by category: <br><br> </h2>


<div class="container-categories">
  <div class="categories1">
    <div class="category-box">
      <h3>
        <a routerLink ="/jackets">
          Jackets <br><br>
          <img src="https://static.zara.net/photos///2021/V/0/2/p/6318/354/737/2/w/1280/6318354737_2_1_1.jpg?ts=1606919912919" alt="Man wearing jacket" width="500" height="600">
        </a>
      </h3>

    </div>

    <div class="category-box">
      <h3>
        <a routerLink ="/trousers">
          Trousers <br><br>
          <img src="https://static.zara.net/photos///2021/V/0/2/p/1620/403/505/2/w/1280/1620403505_1_1_1.jpg?ts=1614334936131" alt="Man wearing jacket" width="500" height="600">
        </a>
      </h3>

    </div>
  </div>

  <br>

  <div class="categories2">
    <div class="category-box">
      <h3>
        <a routerLink ="/suits">
          Suits <br><br>
          <img src="https://static.zara.net/photos///2021/V/T/2/p/0414/369/401/2/w/1280/0414369401_1_1_1.jpg?ts=1613044701793" alt="Man wearing jacket" width="500" height="600">
        </a>
      </h3>
    </div>

    <div class="category-box">
      <h3>
        <a routerLink ="/shoes">
          Shoes <br><br>
          <img src="https://static.zara.net/photos///2021/V/1/2/p/2225/720/203/2/w/1280/2225720203_6_2_1.jpg?ts=1610537634483" alt="Man wearing jacket" width="500" height="600">
        </a>
      </h3>
    </div>
  </div>
</div>

